NEXT_PUBLIC_FIREBASE_API_KEY=ここにAPIキーを貼り付け
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ここにAUTH_DOMAINを貼り付け
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ここにPROJECT_IDを貼り付け
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ここにSTORAGE_BUCKETを貼り付け
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=ここにMESSAGING_SENDER_IDを貼り付け
NEXT_PUBLIC_FIREBASE_APP_ID=ここにAPP_IDを貼り付け

# 許可するGoogleアカウントのメールアドレス（カンマ区切り）
NEXT_PUBLIC_ALLOWED_EMAILS=あなたのメール@gmail.com,奥様のメール@gmail.com
